<div class="cursor-dot"></div>
<div class="cursor-outline"></div>

<footer>
    <div class="footer">
        <div class="social-medias">
            <a target="_blank" href="https://wa.me/2348023998465" class="social fa-brands fa-whatsapp fa-beat-fade"></a>
            <a target="_blank" href="https://x.com/@geniuscode124" class="social fa-brands fa-x-twitter fa-beat-fade"></a>
            <a target="_blank" href="https://web.facebook.com/profile.php?id=100092542187968" class="social fa-brands fa-facebook fa-beat-fade"></a>
            <a target="_blank" href="https://t.me/babayemi124" class="social fa-brands fa-telegram fa-beat-fade"></a>
            <a target="_blank" href="https://discordapp.com/users/1142935490597757028" class="social fa-brands fa-discord fa-beat-fade"></a>
            <a target="_blank" href="https://www.threads.net/@abdurrahman_the_genius" class="social fa-brands fa-threads fa-beat-fade"></a>
        </div>
        <p><%- year %> Genius Code</p>
    </div>
</footer>
<script src="index.js"></script>